{{ >./build/header }}
    <h1>Ajouter une nouvelle Organisation</h1>

    <form action="/orgas/doneAdd" method="POST" form class="ui form">
        <div class="field">
          <label>Name</label>
          <input type="text" name="nom" placeholder="Name">
        </div>
        <div class="field">
          <label>Domain</label>
          <input type="text" name="domain" placeholder="Domain">
        </div>
        <div class="field">
            <label>Aliases</label>
            <input type="text" name="alias" placeholder="Aliases">
        </div>
        <p><input class="ui green button" type="submit" value="Validate"/><a class="column ui button two wide" href="/">Cancel</a></p>
      </form>
{{ >./build/footer }}