{{ >./build/header }}
    <h1>TD2</h1>
    <a class="ui black button" href="/new">+ Ajouter une organisation</a>
    <a class="ui button" href="/">X Fermer</a>
    <a class="ui negative basic button" href="/orgas/delete/{|id}}">X Supprimer {{orga.domain}}</a>
    <a href="/orgas/edit/{{id}}">
      <button class="ui circular basic icon button">
      <i class="edit icon"></i>
      Modifier {{orga.domain}}
      </button>
    </a>
    <div class="segment ui">
        <table class="ui celled table">
          <thead>
            <tr><th>Id</th>
            <th>Nom</th>
            <th>Domaine</th>
            <th>Alias</th>
            <th></th>
          </tr></thead>
          <tbody>
            <tr>
              <td>{{id}}</td>
              <td>{{orga.name}}</td>
              <td>{{orga.domain}}</td>
              <td>{{orga.aliases}}</td>
            </tr>
          </tbody>
        </table>
      </div>

{{ >./build/footer }}