{{>static/header}}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h1>Gestion de Scripts | INDEX</h1>
        <h2 class="ui teal image header">
            {{#connection}}
                Bienvenue {{#userC}}{{firstname}}{{/userC}} !          
            {{/connection}}    

            {{#message_deco}}
                {{message_deco}}
            {{/message_deco}}     
        </h2>      
    </div>  
</div>
<h3>
    <p>Login : {{#userC}}{{firstname}}{{/userC}}</p>
    <p>E-mail : {{#userC}}{{email}}{{/userC}} </p>
<div class="ui middle align center aligned container">
    {{#message_deco}}
        <a href="/login" class="ui button center" tabindex="0">Login</a>
    {{/message_deco}} 
</div>
<div class="ui middle align center aligned grid">
    {{#connection}}
        <a href="/logout" class="ui button center" tabindex="0">Logout</a>
    {{/connection}}
</div>
{{#connection}}
    <a href="/script/new" class="ui button">Add a script</a>
    <table class="ui celled striped table">
        <thead>
        <tr>
            <th>Title</th>
            <td>Description</td>
            <td>Creation Date</td>
            <td>Category</td>
            <td>Edit</td>
        </tr>
        </thead>
        <tbody>
        {{#listeScripts}}
        <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{creationDate}}</td>
            <td>{{category.name}}</td>
            <td><a href="/script/{{id}}" class="ui button"><i class="eye icon"></i></a></td>
        </tr>
        {{/listeScripts}}
        </tbody>
    </table>
{{/connection}}

{{>static/footer}}