{{>header}}

<div class="container">
    <div class="alert alert-primary mt-5">
            <h2 class="text-center mb-5">Liste des Elements</h2>
            {{ # items }}
                {{# list_items}} 
                    <div class="row p-2">
                        <p class="col text-uppercase">{{libelle}}</p>
                        <p class="col text-dark">{{nom}}</p>
                        <p class="col text-dark">{{evaluation}}</p>
                        <a class="col-1 font-weight-bold" href="/items/dec/{{nom}}">-</a>
                        <a class="col-1 font-weight-bold" href="/items/inc/{{nom}}">+</a>
                        <a class="font-weight-bold alert alert-danger" href="/items/delete/{{nom}}">Supprimer</a>
                    </div>
                {{/list_items}} 
             {{/items}}
    </div>
</div>
<a href="/items/new" class="mx-auto d-block col-3 btn btn-success">Ajouter un élément</a>

{{>footer}}