{{>header}}

<div class="container">
    <div class="alert alert-primary mt-5">
            <h2 class="text-center">Liste des Elements</h2>
            {{ # items }}
            <div class="row p-2">
                <p class="col">{{nom}}</p>
                <p class="col">{{evaluation}}</p>
                <a class="col-1" href="items/dec/{{nom}}">-</a>
                <a class="col-1" href="items/inc/{{nom}}">+</a>
            </div>
             {{/items}}
    </div>
</div>
<a href="/items/new" class="mx-auto d-block col-3 btn btn-success">Ajouter un élément</a>

{{>footer}}