{{>header}}


<div class="container">
    <div class="alert alert-primary mt-5">
        <form method="POST" action="/items/addNew">
            <h2 class="text-center">Ajout d'un nouvel élément</h2>
            <div class="container my-2">
                <label for="">Catégorie :</label>
                <select name="categorie" id="" class="form-control col-4">
                    {{# items}}
                        <option value="{{ libelle }}">{{ libelle }}</option>
                    {{/ items}}
                </select>
            </div>
            <div class="container my-2">
                <label for="">Nom de l'élément :</label>
                <input class="form-control col-4 mb-3" name="nom" type="text">
            </div>
            
            <div class="container my-2">
                <label for="">Note : </label>
                <input class="form-control col-4 mb-5" name="note" type="number" min=1 max=20>
            </div>
    </div>
            <input type="submit" class="form-control col-4 d-block mx-auto btn btn-success" value="Valider">
        </form>
    
</div>

{{>footer}}